.schedule {
    margin-top: 10%;
    margin-left: 13%;
    width: 30%;
    border: 1px solid black;
    float: left;
}

.schedule .header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: inherit;
}

.scheduleItem {
    border-top: 1px solid black;
    clear: both;
}

/* .Activity {
    margin-left: 15%;
} */

.Activity h2 {
    margin-top: 1%;
}


.Time {
    float: left;
    margin-left: 6%;
    margin-top: 1%;

}

