.text {
  background-color: lightblue;
  color: #213e3b;
  font-size: 20;
  border-radius: 40%;
  font-weight: bolder;
  width: 40%;
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;

}
.sender{
  font-weight:lighter;
  width: 10%;

  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
}
.messages{
  margin: 0;
  height: 600px;
  border-color: #41aea9;
  border-width: 15px;
  border-style: solid;
  padding-bottom: 5px;
  margin-bottom: 25px;
  padding-top: 10px;
  position: relative;

}
.messagesBox {
  float: left;
  width: 87%;
  position: relative;
  border-color: black;


}
