.Todolist {
    margin-top: 10%;
    margin-left: 55%;
    width: 30%;
    border: 1px solid black;
}

.TodoListItem {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.Activity h2 {
    margin-top: 0%;
}


.Time {
    float: left;
    margin-left: 6%;
    margin-top: 1%;

}
