
.chats {
    top: 14%;
    left: 0;
    width: 13%;
    height: 100vmax;
    position: fixed; 
}

.chatHeader {
    /* position: fixed; */
    margin-top: 8%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-left: 0%;
    left: 10px;
    margin-left: 50px;
    border-radius: 40%;
    /* width: 8%; */
    height: 40px; 
   color: white;
   background-color:#41aea9;
   border: 2px solid  #213e3b;
  }
  
  

 .chats p {
    text-align: center;
    height: 30px;
    padding-top: 6px;
    margin-top: 0px;
    margin-bottom: 7%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-left: 0%;
    margin-left: 30%;
    border-radius: 70%;
    width: 60%;
    background-color: #a6f6f1;
    border: 2px solid  #213e3b;
    border-radius: 70%;
    background-color: #a6f6f1;
    border: 2px solid  #213e3b;
    color: #213e3b;
    
} 

.chats p:hover {
    text-align: center;
    background-color:#213e3b;
    color: white;
    background-color:#213e3b;
    color: white;
} 