.Student {
    border-bottom: 1px solid #ced0d4;
    width: 1000px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    height: 110px;
    position: relative;
}

.Students {
    margin-left: 15%;
    margin-top: 7%;
}

.Avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    float: left;
}

.Student p {
    text-align: left;
    line-height: 3px;
    margin-left: 250px;
}

.Student button {
    float: right;
    width: 100px;
    margin-top: 5px;
    margin-left: 10px;
    height: 38px;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: white;
    color: #213e3b;
}

.Student button:hover
{
  color:white;
  text-decoration:none;
  cursor:pointer;
  background-color: black;
 }

 .studentContainer {
     position: relative;
 }


