.adminRoot {
    margin: auto;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    background-color: lightgrey;
    z-index: 0;
}

 .adminNav {
    width: 100%;
    min-height: 50px;
    height: 5vh;
    background-color: #555;
    overflow: hidden;
    border-bottom: solid 5px #888888;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
 }

.adminTitle {
    margin: auto;
    margin-left: 2%;
    width: 80%;
    text-align: left;
    font-size: 1.5vw;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.adminNav a {
    padding: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    float: right;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 10%;
    height: 100%;
    max-width: fit-content;
    min-width: 100px;
}

/* Navbar links on mouse-over */
.adminNav a:hover {
    background-color: #000;
}

.adminSidebar {
    height: 95%;
    width: 30%;
    display: flex;
    box-sizing: border-box;
    float: left;
}

.reportedPanel {
    
    width: 100%;
    display: block;
    height: 100%;
    border-right: 5px solid #888;
    box-sizing: border-box;
}

.reportedPanel p {

    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-color: rgb(121, 117, 117);
    box-shadow: 5px 10px 8px #888888;   
}

.actionsFragmentContainer {
    height: 95%;
    width: 70%;
    float: left;
    margin: auto;
}

.actionsFragmentHeader {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    font-size: 2vw;
    color: white;
    background-color: rgb(121, 117, 117);
    box-shadow: 5px 10px 8px #888888;   
}

.actionsFragment {
    margin: auto;
}
