.filterBar {
       width: 10%;
       height: 30px;
       border-radius: 4px;
      
       top: 1000%;
       left: 10%;
       display: inline block;
       text-align: center;
       background-color: #a6f6f1;
      }

.filterBar:hover {
background-color: white;
}

#button:hover
{
  color:white;
  text-decoration:none;
  cursor:pointer;
  background-color: black;
 }



#button {
    width: 100px;
    margin-top: 5px;
    margin-left: 10px;
    height: 38px;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: white;
    color: #213e3b;
}


.SearchBar {
    position: fixed;
    background-color: white;
    height: 100px;
    overflow: auto;
    border-radius: 30%;
    border: 2px solid  #213e3b;
    width: 90%;
    margin-left: 5%;
    z-index: 1;
}

#SearchBarForm {
    width: 400px;
    display: inline;
    }

.mainBody   {
    
    overflow: auto;
    flex: 1;
    overflow-x: auto;
    overflow-y: auto;

}

.inner {
    margin-top: 20px;
}
