
.chats {
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background-color:royalblue;
    float: left;
    
}

.chats p {
    text-align: center;
    height: 50px;
    color: white;
    padding-top: 6px;
    margin: 0;
}

.chats p:hover {
    text-align: center;
    background-color: #3399FF;
}